In [1]:
%load_ext sql
%sql postgresql://appdev@data:5432/appdev

'Connected: appdev@appdev'

In [6]:
%sql SELECT * FROM employee CROSS JOIN customer LIMIT 5;

5 rows affected.

[(1, 'Adams', 'Andrew', 'General Manager', None, datetime.datetime(1962, 2, 18, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2002, 8, 14, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com', 1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Edwards', 'Nancy', 'Sales Manager', 1, datetime.datetime(1958, 12, 8, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2002, 5, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com', 1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, datetime.datetime(1973, 8, 29, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2002, 4, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com', 1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, datetime.datetime(1947, 9, 19, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2003, 5, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com', 1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, datetime.datetime(1965, 3, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2003, 10, 17, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com', 1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)]

# 1. Translate the box (1, 1) (2, 2) two units to the left.

In [21]:
%sql SELECT box(('1,1'),('2,2')) - point('2,0');

1 rows affected.

[('(0,2),(-1,1)',)]

# 2. Find the intersection between the box (1, 0), (10, 10) and the box (1, 1), (2, 2)

In [17]:
%sql SELECT box(('1,0'),('10,10')) # box(('1,1'),('2,2'));

1 rows affected.

[('(2,2),(1,1)',)]

# 3. Find the distance between the point (0, 2) and the box (1, 3), (-20, 0)

In [16]:
%sql SELECT point('0,2') <-> box(('1,3'),('-20,0'));

1 rows affected.

[(0.0,)]

# 4. Is the point (7, 7) within the circle with the center (4, 2) and radius 5.83?

In [20]:
%sql SELECT circle('4,2','5.83') @> point('7,7');

1 rows affected.

[(False,)]

In [22]:
import sqlalchemy

In [23]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [25]:
from sqlalchemy.ext.declarative import declarative_base

In [28]:
Base = declarative_base()

In [29]:
from sqlalchemy import Column, Integer, String

In [30]:
class User(Base):
...     __tablename__ = 'users'
...
...     id = Column(Integer, primary_key=True)
...     name = Column(String)
...     fullname = Column(String)
...     password = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.name, self.fullname, self.password)

In [32]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [33]:
Base.metadata.create_all(engine)

2018-04-05 13:01:04,858 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-04-05 13:01:04,860 INFO sqlalchemy.engine.base.Engine ()
2018-04-05 13:01:04,863 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-04-05 13:01:04,870 INFO sqlalchemy.engine.base.Engine ()
2018-04-05 13:01:04,871 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-04-05 13:01:04,872 INFO sqlalchemy.engine.base.Engine ()
2018-04-05 13:01:04,875 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-04-05 13:01:04,876 INFO sqlalchemy.engine.base.Engine ()
2018-04-05 13:01:04,878 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [35]:
ed_user.name

'ed'

In [36]:
ed_user.password

'edspassword'

In [37]:
str(ed_user.id)

'None'

In [38]:
from sqlalchemy.orm import sessionmaker

In [39]:
Session = sessionmaker(bind=engine)

In [40]:
Session = sessionmaker()

In [41]:
Session.configure(bind=engine)  # once engine is available

In [42]:
session = Session()

In [43]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [44]:
session.add(ed_user)

In [45]:
our_user = session.query(User).filter_by(name='ed').first()

2018-04-05 13:03:06,167 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-05 13:03:06,172 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-04-05 13:03:06,174 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2018-04-05 13:03:06,178 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-04-05 13:03:06,181 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [46]:
our_user

In [47]:
ed_user is our_user

True

In [48]:
session.add_all([
...     User(name='wendy', fullname='Wendy Williams', password='foobar'),
...     User(name='mary', fullname='Mary Contrary', password='xxg527'),
...     User(name='fred', fullname='Fred Flinstone', password='blah')])

In [49]:
ed_user.password = 'f8s7ccs'

In [50]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [51]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>, <User(name='fred', fullname='Fred Flinstone', password='blah')>])

In [52]:
session.commit()

2018-04-05 13:04:02,174 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2018-04-05 13:04:02,179 INFO sqlalchemy.engine.base.Engine ('f8s7ccs', 1)
2018-04-05 13:04:02,182 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-04-05 13:04:02,185 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2018-04-05 13:04:02,188 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-04-05 13:04:02,192 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2018-04-05 13:04:02,195 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-04-05 13:04:02,197 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2018-04-05 13:04:02,199 INFO sqlalchemy.engine.base.Engine COMMIT

In [53]:
ed_user.id

2018-04-05 13:04:09,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-05 13:04:09,851 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-04-05 13:04:09,853 INFO sqlalchemy.engine.base.Engine (1,)

1

In [54]:
ed_user.name = 'Edwardo'

In [55]:
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')

In [56]:
session.add(fake_user)

In [57]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2018-04-05 13:04:39,789 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2018-04-05 13:04:39,791 INFO sqlalchemy.engine.base.Engine ('Edwardo', 1)
2018-04-05 13:04:39,795 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-04-05 13:04:39,797 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2018-04-05 13:04:39,801 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2018-04-05 13:04:39,804 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[<User(name='Edwardo', fullname='Ed Jones', password='f8s7ccs')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [58]:
session.rollback()

2018-04-05 13:04:46,181 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [59]:
ed_user.name

2018-04-05 13:04:53,812 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-05 13:04:53,819 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-04-05 13:04:53,825 INFO sqlalchemy.engine.base.Engine (1,)

'ed'

In [60]:
fake_user in session

False

In [61]:
session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()

2018-04-05 13:05:08,710 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2018-04-05 13:05:08,712 INFO sqlalchemy.engine.base.Engine ('ed', 'fakeuser')

In [62]:
for instance in session.query(User).order_by(User.id):
...     print(instance.name, instance.fullname)

2018-04-05 13:05:20,552 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2018-04-05 13:05:20,554 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [63]:
for name, fullname in session.query(User.name, User.fullname):
...     print(name, fullname)

2018-04-05 13:05:29,516 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2018-04-05 13:05:29,520 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone